# Customer purshase project

The data represents details about 400 clients of a company including the unique ID, the gender, the age of the customer and the salary. Besides this, we have collected information regarding the buying decision - weather the customer decided to buy specific products or not.

### Project Goal
Project goal is to determine will customer purshase product or not. We will use Gaussian Naive Bayes for predicting what will customer do.

## Exploring dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Customer_Behaviour.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
df2=df.drop(["User ID"],axis=1)
df2.head(9)

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0
5    Male   27            58000          0
6  Female   27            84000          0
7  Female   32           150000          1
8    Male   25            33000          0

In [4]:
# Making target and inputs 
target=df2.Purchased
inputs=df2.drop("Purchased",axis=1)

In [5]:
#making dummy columns
dummies=pd.get_dummies(inputs.Gender)
dummies.head()

   Female  Male
0       0     1
1       0     1
2       1     0
3       1     0
4       0     1

In [6]:
# combining two dataframes
inputs=pd.concat([inputs,dummies],axis=1)
clean=inputs.drop(["Gender"],axis=1)
clean.head()

   Age  EstimatedSalary  Female  Male
0   19            19000       0     1
1   35            20000       0     1
2   26            43000       1     0
3   27            57000       1     0
4   19            76000       0     1

In [7]:
clean.isnull().sum()

Age                0
EstimatedSalary    0
Female             0
Male               0
dtype: int64

In [8]:
#importing split train test
from sklearn.model_selection import train_test_split

In [9]:
X=clean
y=target

In [54]:
#splitting on test and train
train_X,test_X,train_y,test_y=train_test_split(X,y,test_size=0.3)

In [55]:
#calculating lenght train set
len(train_X)

280

In [56]:
#calculating lenght of test set
len(test_X)

120

In [57]:
#importing Gaussian Naive Bayes algorithm
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [58]:
#fitting 
model.fit(train_X,train_y)

GaussianNB()

In [59]:
model.score(test_X,test_y)

0.9416666666666667

In [62]:
#predicting values
predict=model.predict(test_X)
predict[:10]

array([1, 0, 1, 0, 0, 0, 0, 0, 1, 0], dtype=int64)

In [67]:
model.predict_proba(test_X)[:10]

array([[4.21022087e-01, 5.78977913e-01],
       [8.67662931e-01, 1.32337069e-01],
       [5.44066162e-02, 9.45593384e-01],
       [9.69045222e-01, 3.09547780e-02],
       [6.95757367e-01, 3.04242633e-01],
       [9.71985858e-01, 2.80141419e-02],
       [9.31772977e-01, 6.82270225e-02],
       [9.03713400e-01, 9.62866000e-02],
       [4.42324009e-04, 9.99557676e-01],
       [9.11794593e-01, 8.82054072e-02]])

For the first predicted value it is 42% probability that customer will not  purchase product and 58% that it will.

# Result

In [68]:
result = pd.DataFrame({'Actual': test_y, 
                   'Predicted': predict})
result.head(10)

     Actual  Predicted
323       1          1
199       0          0
202       1          1
66        0          0
126       0          0
2         0          0
6         0          0
74        0          0
219       1          1
78        0          0