# Spam detecting project

The SMS Spam Collection is a set of SMS tagged messages that have been collected for SMS Spam research. It contains one set of SMS messages in English of 5,574 messages, tagged acording being ham (legitimate) or spam.

The files contain one message per line. Each line is composed by two columns: v1 contains the label (ham or spam) and v2 contains the raw text.
This corpus has been collected from free or free for research sources at the Internet:

- A collection of 425 SMS spam messages was manually extracted from the Grumbletext Web site. This is a UK forum in which cell phone users make public claims about SMS spam messages, most of them without reporting the very spam message received. The identification of the text of spam messages in the claims is a very hard and time-consuming task, and it involved carefully scanning hundreds of web pages
- A subset of 3,375 SMS randomly chosen ham messages of the NUS SMS Corpus (NSC), which is a dataset of about 10,000 legitimate messages collected for research at the Department of Computer Science at the National University of Singapore. The messages largely originate from Singaporeans and mostly from students attending the University. These messages were collected from volunteers who were made aware that their contributions were going to be made publicly available 
-  A list of 450 SMS ham messages collected from Caroline Tag's PhD Thesis 
-  Finally, we have incorporated the SMS Spam Corpus v.0.1 Big. It has 1,002 SMS ham messages and 322 spam messages


### Project goal

THe goal of this project is to determine which text messages are spam. We will use Naive Bayes Algorithm in this project to detect spam.

### Naive Bayes
Naive Bayes is a simple technique for constructing classifiers: models that assign class labels to problem instances, represented as vectors of feature values, where the class labels are drawn from some finite set. There is not a single algorithm for training such classifiers, but a family of algorithms based on a common principle: all naive Bayes classifiers assume that the value of a particular feature is independent of the value of any other feature, given the class variable. For example, a fruit may be considered to be an apple if it is red, round, and about 10 cm in diameter. A naive Bayes classifier considers each of these features to contribute independently to the probability that this fruit is an apple, regardless of any possible correlations between the color, roundness, and diameter features.

## Dataset exporing

In [31]:
import pandas as pd
import numpy as np

In [32]:
df=pd.read_csv("spam.csv",encoding='latin-1')
df.head(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,ham,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,ham,As per your request 'Melle Melle (Oru Minnamin...,NaN,NaN,NaN
8,spam,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,spam,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN

In [33]:
#droping columns we will not use
df2=df.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"],axis=1)
df2.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [34]:
#renaming columns
df2.columns=["category","text"]

In [35]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  5572 non-null   object
 1   text      5572 non-null   object
dtypes: object(2)
memory usage: 43.6+ KB

In [36]:
df2.shape

(5572, 2)

In [37]:
# calculating how many spams we have in dataset
df2["category"].value_counts()

ham     4825
spam     747
Name: category, dtype: int64

In [38]:
# creating new column with new values (1-spam, 0-ham(not spam))
df2["spam"]=df2["category"].apply(lambda x: 1 if x=="spam" else 0)
df3=df2.drop(["category"],axis=1)
df3.head()

                                                text  spam
0  Go until jurong point, crazy.. Available only ...     0
1                      Ok lar... Joking wif u oni...     0
2  Free entry in 2 a wkly comp to win FA Cup fina...     1
3  U dun say so early hor... U c already then say...     0
4  Nah I don't think he goes to usf, he lives aro...     0

### Splitting on train and test

In [39]:
#importing split train test
from sklearn.model_selection import train_test_split

In [40]:
X=df3["text"]
y=df3["spam"]

In [41]:
train_X,test_X,train_y,test_y=train_test_split(X,y,test_size=0.25)

In [42]:
#Importing pipeline,CountVectorizer and Multinomial Naive Bayes
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [43]:
# vectorizing text and using multinomial Naive Bayes algorithm
clf=Pipeline ([
    ("vectorizer", CountVectorizer()),
    ("nb", MultinomialNB())
])

In [44]:
#fitting 
clf.fit(train_X,train_y)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [45]:
# model accuracy
clf.score(test_X,test_y)

0.9842067480258435

In [46]:
#predicting values
predict=clf.predict(test_X)

## Result

In [50]:
result = pd.DataFrame({'Actual': test_y, 
                   'Predicted': predict})
result.head(10)

      Actual  Predicted
2903       0          0
3542       0          0
5516       0          0
4659       0          0
2746       0          0
2429       1          0
3682       0          0
4863       0          0
1766       1          1
4085       0          0